.box-container {
  display: flex;
  justify-content: space-between;
}
.box {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.box p {
  margin-bottom: 5px; /* 为链接添加一些垂直空间 */
}

.black-link {
    color: black; 
    text-decoration: none;
}

.black-link:hover {
    color: gray;
}
